<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Time Checker</title>
</head>

<body>
  <input id="csrf" type="hidden" name="_csrf" value='<%= csrfToken %>' />
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>